body {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    color: rgb(18, 5, 102);
    font-weight: bolder;
    font-size: 50px
}

.jahid-menu-width {
    width: auto;
}

.jahid-header-container {
    margin: 0 auto;
    
}

.jahid-main-container {
    padding-bottom: 100px;
    margin-bottom: 20px;
}

.jahid-menu-li {
    padding: 15px;
}

.jahid-menu-li a {
    font-weight: bold;
}

.jahid-nike-react {
    color: orange;
    font-size: 70px;
}

.jahid-infinity-run {
    color: rgb(18, 5, 102);
    font-size: 70px;
}

.jahid-btn-buynow {
    padding: 10px 30px;
    font-weight: bolder;
}

.jahid-shoes-card {
    margin: 20px;
}

.jahid-card-group {
    border: 0;
    margin: 20px;
    
}

.jahid-card-footer {
    border: 0;
    background-color: white;
}

.jahid-price {
    color: orange;
    font-size: 40px;
    font-weight: bolder;
}

.jahid-title-text {
    color: rgb(18, 5, 102);
    font-weight: bolder;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {


    .jahid-price {
        color: orange;
        font-size: 35px;
        font-weight: bolder;
    }

    h2, h3 {
        color: rgb(18, 5, 102);
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
    }

    .jahid-details-img img {
        width: 100%;
        padding: 40px;
    }
    
    .jahid-title-text {
        font-size: 30px;
    }

    .jahid-title-text-details {
        text-align: center;
        color: rgb(18, 5, 102);
        font-weight: bolder;
        font-size: 30px;
    }

    .jahid-title-text-p {
        text-align: center;
    }

    .jahid-shoping-card-picture {
        margin: 30px;
    }

  }