body {
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    color: rgb(18, 5, 102);
    font-weight: bolder;
    font-size: 50px
}

.jahid-menu-width {
    width: auto;
}

.jahid-header-container {
    margin: 0 auto 20px auto;
    padding-bottom: 100px;;
}

.jahid-menu-li {
    padding: 15px;
}

.jahid-menu-li a {
    font-weight: bold;
}

.jahid-nike-react {
    color: orange;
    font-size: 70px;
}

.jahid-infinity-run {
    color: rgb(18, 5, 102);
    font-size: 70px;
}

.jahid-btn-buynow {
    padding: 10px 30px;
    font-weight: bolder;
}

.jahid-shoes-card {
    margin: 20px;
}

.jahid-card-group {
    border: 0;
    margin: 20px;
    
}

.jahid-card-footer {
    border: 0;
    background-color: white;
}

.jahid-price {
    color: orange;
    font-size: 40px;
    font-weight: bolder;
}

.jahid-title-text {
    color: rgb(18, 5, 102);
    font-weight: bolder;
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }

    .jahid-price {
        color: orange;
        font-size: 20px;
        font-weight: bolder;
    }
  }